
.favorite-button {
  border: 2px solid yellow;
  background-color: white;
  color: rgb(203, 237, 11);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.favorite-button i {
  color: yellow;
  padding: 5px; /* Espaciado interno para el ícono */
}

.favorite-button:hover,
.favorite-button:active,
.favorite-button.active {
  background-color: yellow;
}

.favorite-button:hover i,
.favorite-button:active i,
.favorite-button.active i {
  color: grey;
}

.favorite-button i::before {
  content: "\f004"; /* Código Unicode del ícono de corazón */
  font-family: FontAwesome;
  color: yellow;
  background-color: transparent; /* Fondo transparente para el contorno */
}

.favorite-button:hover i::before,
.favorite-button:active i::before,
.favorite-button.active i::before {
  color: grey; /* Cambiar el color del corazón */
  background-color: transparent; /* Fondo transparente para el contorno */
}

/* Favorites Dropdown */
.favorites-dropdown {
  position: fixed; /* Mantener fijo el botón de favoritos */
  top: 25px; /* Ajustar según la posición deseada */
  right: 150px; /* Ajustar según la posición deseada */
  z-index: 1000; /* Asegurarse de que se superponga a otros elementos */
}

.favorites-dropdown .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favorites-dropdown .dropdown-toggle {
  margin-left: 5px;
  position: relative;
  z-index: 1;
}

.favorites-dropdown .dropdown-toggle::after {
  content: initial; /* Evitar mostrar los pseudo-elementos */
}

.favorites-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 10px;
  right: 4; /* Alinear el desplegable a la derecha */
}

.favorites-dropdown:hover .favorites-dropdown-content,
.favorites-dropdown-content.show {
  display: block;
}

.favorites-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: default;
}

.favorites-dropdown-content a:hover {
  background-color: #e50707;
}

/* Trash Icon */
.trash-icon {
  cursor: pointer;
  margin-left: 10px;
  color: red;
}

/* Cards Styles */
.card-container {
  display: flex;
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  white-space: nowrap;
  padding: 20px 0;
}

.card {
  flex: 0 0 auto; /* No permitir que las tarjetas se encogen */
  width: 300px; /* Ajustar tamaño de las tarjetas */
  margin-right: 1px; /* Espacio entre tarjetas */
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  text-align: center;
}

.card-people {
  display: flex;
  flex-wrap: nowrap;
}
